<div>
    <br><br><br><br>
    <h1> Customer Information</h1>
    <div class="row mt-3">
        <div class="col">
            <input class="form-control" [(ngModel)]="customer.Name" placeholder="Customer name">
        </div>
    </div>
    <div class = "row">
        <input class="form-control" [(ngModel)]="customer.Address" placeholder="Address line 1">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.Address2" placeholder="Address line 2">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.City" placeholder="City">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.State" placeholder="State">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.PostalCode" placeholder="Postal code">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.Country" placeholder="Country">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.Phone" placeholder="Phone">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.SalesRep" placeholder="Sales representative">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.CreditLimit" placeholder="Credit Limit">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.Balance" placeholder="Balance">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.Terms" placeholder="Terms">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.Discount" placeholder="Discount">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.Comments" placeholder="Comments">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.Fax" placeholder="Fax">
    </div>
    <div class="row">
        <input class="form-control" [(ngModel)]="customer.EmailAddress" placeholder="Email Address">
    </div>
    <div class="col">
        <button mat-raised-button color="primary" class="button-space">Save</button>
        <button mat-raised-button color="warn" class="button-space">Cancel</button>
    </div>
</div>
